name: Generate Content

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt

      - run: python src/generate.py

      - uses: actions/upload-artifact@v4
        with:
          name: human-code-content
          path: output/
